.content {
    grid-area: c;
    background-color: darkorange;
}

.content img {
    height: 400px;
    width: 1000px;
    }
.usersStatus{
    font-size: large;
    padding-left: 2em;
    padding-top: 2em;
    font-weight: bold;
    font-family: monospace;

}
