.selectedPage {
    font-weight: bold;

}
.pageNumber span {
    font-size: 1em;
    cursor: pointer;
    transition: all .2s;
    padding: 0.5em;
}

.pageNumber span:hover {
    color: green;
    font-size:1.5em;
}
.pageNumberButtonPrev{
    float: left;
    padding: 2px;
    argin: auto;
}

.pageNumberButtonNext{
    float: right;
    padding: 2px;
    margin: auto;
}