
.myPostsFromHeader{
    padding-left: 10px;
}
.posts{

}

.divError {
   /*color : snow;*/
    border: black solid 3px;
    font-family: monospace;
    width: max-content;
    padding: 0.5em;
    margin: 1em;
    font-weight: bold;
}
.messagesErrElShow{
    border: black solid 3px;
    font-family: monospace;
    width: max-content;
    padding: 0.5em;
    margin: 1em;
    font-weight: bold;
}
.selectedPostStyle{
    background-color: goldenrod;
}