.header{
    grid-area: h;
    background-color: black;

}

.header .imgOne, .header .imgTwo{
    display: inline-block;
    /*width: 100px;*/
}
.header .imgTwo img {
    width: auto;
    padding-left: 80px;
    padding-bottom: 90px;
}


