.header{
    grid-area: h;
    background-color: black;

}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.header .imgOne, .header .imgTwo{
    display: inline-block;
   }

.header .imgTwo {
    width: auto;
    display: flex;
    align-items: center;
    justify-content:center;

}
.header .imgOne  {
    height: 290px;
}


.loginBlock {
    place-self: end;
    font-size: 30px;
    padding: 1em;
    color: orange;

}
.loginBlock a{
    color: orange;
}



