.header{
    grid-area: h;
    background-color: black;

}

.header .imgOne, .header .imgTwo{
    display: inline-block;
    /*width: 100px;*/
}
.header .imgTwo img{
    width: 350px;
    padding-left: 80px;
}


