.app-wrapper {
    width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
"h h "
"n c";

    grid-template-rows: 295px 950px;
    grid-template-columns: 2fr 7fr;

}

.app-wrapper-content {
    grid-area: c;
    background-color: darkorange;
}




