.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
grid-template-areas:
"h h"
"n c";

  grid-template-rows: 295px 750px;
  grid-template-columns: 2fr 7fr;
  /*grid-gap: 10px;*/
}






